/* Modal */

.modal {
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.modal.is-active {
  display: flex;
}

.modal-background {
  background-color: rgba(10, 10, 10, 0.86);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.modal-close {
  height: 32px;
  max-height: 32px;
  max-width: 32px;
  min-height: 32px;
  min-width: 32px;
  width: 32px;
  background: none;
  position: fixed;
  right: 20px;
  top: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 290486px;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  outline: none;
  vertical-align: top;
}

.modal-close:hover {
  background-color: rgba(10, 10, 10, 0.2);
}

.modal-close::before {
  height: 2px;
  width: 50%;
}

.modal-close::after {
  height: 50%;
  width: 2px;
}

.modal-close::before,
.modal-close::after {
  box-sizing: border-box;
  background-color: #fff;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform-origin: center center;
}

.modal-content {
  width: 650px;
  max-width: 100% !important;
  margin: 10px;
}

/* Datepicker */

.vdp-datepicker__calendar {
  margin: 0 auto;
}

/* Timepicker */

.vue__time-picker input[type="text"].display-time {
  background-color: white;  
  border: 1px solid #8c8f94;
  border-radius: 3px;
}


/* Pagination */

.pagination {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.pagination-list {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0;
}
.pagination-list li:not(:first-child) {
  flex: none;
  padding-left: 20px;
  position: relative;
}
.pagination-link {
  text-decoration: none;
  color: black;
}
.paginate .disabled a {
  color: grey;
  cursor: default;
  outline: none;
}
.pagination-link.is-current {
  font-weight: bold;
  cursor: default;
  outline: none;
  text-decoration: underline;
}
.pagination-previous,
.pagination-next {
  display: flex;
  align-items: center;
}
.pagination-previous[disabled="disabled"],
.pagination-next[disabled="disabled"] {
  color: gray;
  cursor: default;
}
.pagination-previous .icon,
.pagination-next .icon {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  top: 0;
  left: 0;
}
.pagination-previous {
  order: 1;
}
.pagination-next {
  order: 3;
}

button {
  color: #515151;
  background-color: #f9f9f9;
  border-color: #eee;
  border-right-color: #f9f9f9;
  border-bottom-color: #f9f9f9;
  text-shadow: 1px 1px 0 #fff;
  min-width: 0;
  padding: 2px 12px;
  line-height: 1.7em;
  font-size: 1em;
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button:focus,
button:hover {
  color: #222;
}